  <footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright">{{ . | markdownify }}</div>
  {{ end }}
  </footer>
  </article>
  {{ template "_internal/google_analytics.html" . }}
  </body>
  <!-- mermaid JS -->
<!--  <script src="https://unpkg.com/browse/mermaid@7.1.0/dist/mermaid.min.js"></script>-->
<!--  <script src="https://unpkg.com/browse/mermaid@7.1.0/dist/mermaid.core.js"></script>-->
<!--  <script src="https://unpkg.com/browse/mermaid@7.1.0/dist/mermaid.js"></script>-->
<!--  <script src="/js/mermaid.js"></script>-->
  <script src="/js/mermaid.min.js"></script>
  <script>
    // mermaid.initialize({ startOnLoad: true });
    mermaid.initialize({startOnLoad: true, theme: 'forest'});
  </script>
<!--  <script src="./mermaid.js"></script>-->
<!--  <script>-->
<!--    mermaid.initialize({startOnLoad: true, theme: 'forest'});-->
<!--  </script>-->
  </html>
